@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ }
@model QSCustomer.Controllers.LoginController.InputModel

<section class="contact-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png" class="img-fluid"
                     alt="Sample image">
            </div>
            <div class="col-lg-5 offset-xl-1">
                <div class="section-title text-center">
                    <span class="section-title__tagline">Expert QS-Online</span>
                    <h2 class="section-title__title">Sign In</h2>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="contact-page__form">
                            <form method="post" id="account">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="comment-form__input-box">
                                            <input id="form3Example3" placeholder="Email adress" asp-for="Email" type="text">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="comment-form__input-box">
                                            <input id="form3Example4" placeholder="Password" asp-for="Password">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <!-- Checkbox -->
                                        <div class="form-check mb-0">
                                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                                            <label class="form-check-label" for="form2Example3">
                                                Remember me
                                            </label>
                                        </div>
                                        <a href="#!" class="form-txt-label">Forgot password?</a>
                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-xl-12">
                                        <button type="submit" class="thm-btn comment-form__btn m-0">Login</button>
                                    </div>
                                    <p>Don't have an account? <a asp-controller="Register" asp-action="Index" class="form-txt-label"> Register</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }
