
@{
    ViewData["Title"] = "MailSended";
}
<style>
    div main {
        height: 100vh;
    }
</style>
<section class="w-100 h-100 d-flex align-items-center justify-content-center">
    <div class="container text-center">
        <form method="get" action="sendmail">
            <div class="badge bg-warning text-dark shadow-5-strong">
                <h3 style="white-space:nowrap; display:block;">The verification email has been sent again.</h3>
            </div>
        </form>
    </div>
</section>

