
@{
    ViewData["Title"] = "Unconfirmed";
}
<style>
    div main {
        height: 100vh;

    }
</style>
<section class="w-100 h-100 d-flex align-items-center justify-content-center">
    <div class="container text-center">
        <form method="get" action="sendmail">
            <div class="badge bg-warning text-dark shadow-5-strong">
                <h3 style="white-space:nowrap; display:block;">Your account has not been verified. <br /> Check your email address on span or <br /> resend configure email. </h3>
                <button class="btn btn-primary">ReSend</button>
            </div>
        </form>
    </div>
</section>


