
@{
    ViewData["Title"] = "LoadingPdfView";
}
@model QSCustomer.Models.ViewModels.PdfReport


<div class="container">
    <div id="spinner-loading">
        <section class="w-100 d-flex align-items-center justify-content-center" style="height: 100vh" id="sectionArea">
            <div class="text-center">
                <div id="large-indicator">
                </div>
                <h6>Your pdf report is being prepared...</h6>
            </div>

        </section>
    </div>
</div>
<div class="container" hidden>
    <form asp-action="DownloadPdf" asp-controller="Reports" id="renderedform" method="post" hidden>

        <input type="text" class="form-control form-text" value="@Model._ProjectCode" asp-for="_ProjectCode"/>
        <input type="text" class="form-control form-text" value="@Model._ProjectFilter.StartDate" asp-for="_ProjectFilter.StartDate"/>
        <input type="text" class="form-control form-text" value="@Model._ProjectFilter.FinishDate" asp-for="_ProjectFilter.FinishDate"/>
    </form>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            @*
        var id='@Model';
        $.ajax({
            url: '/Reports/download',
            data: { id: id },
            type:"get"
        }).done(function () {

        });
            *@
           @*window.location.href = '@Url.Action("download", "Reports")/' + '@Model';*@
            $('#renderedform').submit();
            $('#large-indicator').dxLoadIndicator({
                height: 60,
                width: 60,
            });
    });
    </script>
}


