@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model QSCustomer.Controllers.RegisterController.InputModel

    <section class="contact-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex justify-content-center align-items-center" >
                    <img src = "https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png" class="img-fluid"
                         alt="Sample image">
                </div>
                <div class="col-lg-5 offset-xl-1">
                    <div class="section-title text-center">
                        <span class="section-title__tagline">Expert QS-Online</span>
                        <h2 class="section-title__title">Sign Up</h2>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="contact-page__form">
                                <form method="post" id="account">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="comment-form__input-box">
                                                <input placeholder="Company name"  type="text" id="compname"  asp-for="CompanyName" required >
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="comment-form__input-box">
                                                <input placeholder="Email adress" type="email" id="email" class="form-control" asp-for="Email" required >
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="comment-form__input-box">
                                                <input placeholder="Password" type="password" id="pass" class="form-control" asp-for="Password" required >
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="comment-form__input-box">
                                                <input placeholder="Repeat your password"  type="password" id="conPass" class="form-control" asp-for="ConfirmPassword" required>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <!-- Checkbox -->
                                            <div class="form-check mb-0">
                                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" required />
                                                <label class="form-check-label" for="form2Example3c">
                                                    I agree all statements in <a href="#!" class="form-txt-label">Terms of service.</a>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-5">
                                        <div class="col-xl-12">
                                            <button type = "submit" class="thm-btn comment-form__btn m-0">Register</button>
                                        </div>
                                        <p>Do have an account? <a asp-controller="Login" asp-action="Index" class="form-txt-label"> Login</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
